



/*=======HEAD======*/


/*=======HEAD======*/

/*=======SearchBox=======*/





/*===== NAV =====*/












/*Show menu*/


/*=== Dropdown ===*/







/*.search {
  display: flex;
  justify-content: space-between;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.5);
  color: #000001ff;
}*/

.image {
  width: 5em;
  object-fit: contain;
}
.form_control {
  outline: none;
}
.search-box {
  min-width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
 background: #ffffff;
  *min-height: 20%;
  *margin: 0 2em 0 0;
}
.search-box i {
  width: 10%;
  text-align: center;
  font-size: 17px;
  opacity: 0.5;
  padding: 15px 20px;
  color: var(--scarlet);
}
.search-box input {
  width: 60%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.search-box span {
  width: 20%;
  text-align: center;
  opacity: 0.5;
  padding: 0.2em;
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

/*=======SearchBox=======*/

header {
  padding: 1.3em;
}