/* CSS HEX */
:root {
  --scarlet: #ff2a00ff;
  --oxford-blue: #002951ff;
  --black: #000001ff;
  --prussian-blue: #002f40ff;
  --orange-pantone: #fe5900ff;
  --scarlethsl: hsla(10, 100%, 50%, 1);
  --oxford-blue: hsla(210, 100%, 16%, 1);
  --blackhsl: hsla(240, 100%, 0%, 1);
  --prussian-bluehsl: hsla(196, 100%, 13%, 1);
  --orange-pantonehsl: hsla(21, 100%, 50%, 1);
  --speed: 500ms;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*=======HEAD======*/


/*=======HEAD======*/

/*=======SearchBox=======*/





/*===== NAV =====*/












/*Show menu*/


/*=== Dropdown ===*/


.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
}







/*.search {
  display: flex;
  justify-content: space-between;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.5);
  color: #000001ff;
}*/

.image {
  width: 5em;
  object-fit: contain;
}
.form_control {
  outline: none;
}
.search-box {
  min-width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
 background: #ffffff;
  *min-height: 20%;
  *margin: 0 2em 0 0;
}
.search-box i {
  width: 10%;
  text-align: center;
  font-size: 17px;
  opacity: 0.5;
  padding: 15px 20px;
  color: var(--scarlet);
}
.search-box input {
  width: 60%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.search-box span {
  width: 20%;
  text-align: center;
  opacity: 0.5;
  padding: 0.2em;
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

/*=======SearchBox=======*/

header {
  padding: 1.3em;
}