.admin_container{
    display: grid;
    grid-template-columns: 350px 1fr;
     #outlet{ 
      margin: .8em -3em;
      position: relative;
      width: 98%;
      height:42em;
      overflow: auto;
        
     }
     

   
}