$button-white: rgb(213, 214, 216);


.filter-panel{
   .category-title{
    cursor: pointer;
    width: 8em;
   }
        h5{
          
            margin-top: 1em;
        }
    
.checkbox{
    min-width: 8em;
    gap: 5em; 
    label{
        text-align: center;
        position: relative;
    } 
}
}

.checkbox-group{ 
    position:absolute;
    padding: 1em;
    background: rgb(230, 232, 237);
    width: 12em;
    justify-items: start;
    border-radius: 3px;  
    .form-check-reverse {
        padding-right: 1.5em;
        padding-left: 0;
        text-align: left;
    }   
}
.hide-checkbox{
    display: none;
}



