$button-white: rgb(213, 214, 216);


.filter-panel{
h5{
    margin-top: 1em;
}
.button-group{
    gap: 5px;
    button{   
        background: $button-white;
        min-width: 4em;
        padding: 4px 1px;       
    }
}
.checkbox{
    max-width: 17em;
    gap: 5em;
    
    label{
        text-align: center;
        position: relative;
    }
}

}

.checkbox-group{
    max-width: 17em;
    justify-items: start;
    .form-check-reverse {
        padding-right: 1.5em;
        padding-left: 0;
        text-align: left;
    }
}

