
.home_container{
    padding: 1em;
    
    .products {
        //max-width: 45em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
     }
    
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  

