$orange-pantone: #fe5900ff;

.loading-box{
  position: relative;
  top: 8em;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.home_container{
    .products {
        margin-bottom: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
     }

     .features-section{
      display: flex;
      justify-content: space-around;
      margin-bottom: 5em;
      .bxs-truck{
        background: rgba(117, 230, 245 ,0.5);
        color: rgb(23, 107, 168);
      }
      .bxs-bank{
        background: rgba(248, 85, 4, 0.5);
        color: rgb(238, 52, 5);
      }
      .bxs-medal{
        background: rgba(248, 220, 4, 0.5);
        color: rgb(137, 122, 3);
      }
       i{
        font-size: 2.5em;
        padding: 0.1em;
        width: 1.3em;
        height: 1.3em;
        border-radius: 5px;
        text-align: center;
       }
       .icon-item{
         display: flex;
         gap: 0.5em;
        span{
         
          font-size: 18px;
          font-weight: 800;
        }
       }
     }
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .heading-section{
    display: flex;
    justify-content: space-around;

   margin: 4em 1em 7em 5em;
   .title-heading{
    .title{
      display: flex;
      flex-direction: column;
      
    }
    p{
      position: relative;
      font-size: 18px;
      font-weight: 400;
    }
   h1{
    line-height: 1px;
    font-size: 46px;
    font-weight: 800;
   }
   p{
    margin-top: 2em;
   }
    display: flex;
    flex-direction: column;
    width: 35em;
    button{
      position: relative;
      transition: .3s;
      width: 18em;
      padding: .5em;
      margin-top: 2em;
      border-radius: 5px;
      border: none;
      background: $orange-pantone;
      color: aliceblue;
      font-size: 20px;
      font-weight: 600;
      &:hover{
       box-shadow: 5px 5px 6px var(--oxford-blue);
      }
    }
   }
   .aftercolor{
    display: none;
    position: absolute;
    z-index: -1;
    right: 10%;
    top: 35%;
    margin-left: 100em;  
   }
   .sliderWidth{
    width: 30em;
  }
    .slide-img{
      width: 25em;
      object-fit: cover;
  transform: rotate(15deg); 
  
    }
  }


@media screen and (max-width: 800px){
  .heading-section{
   flex-direction: column;
   align-items: center;
   width: 100%;
   box-sizing:border-box;
 
   //max-width: 50%;
   .title-heading{
    display: block;
    width:fit-content;
   }
   .slide-img {
    width: 60%;
   }
   .title{
 
   }
   p{
    //max-width: 50%;
    top: 23em;
    box-sizing:content-box;
   }
   button{
    top: 19em;
    margin-bottom: 1em;
   //left: 5em;
   }
  }
  .sliders-wraper{
    position: relative;
    top: -14em;
   left: 10%;
  
  }
  .sliderWidth{
    //width: 10em;
  }
}
  

  