.product {
    margin: 1rem;
    img{
       transition: .3s;
        width: 100%;
        max-width: 300px;
        cursor: pointer;
        &:hover{
          transform: scale(1.2);
        }   
    }
    .product-info {
        padding: 1rem;  
      }
}

.rating span {
    color: #ffc000;
  }
  .rating #review-title {
    color: black;
    font-weight: 500;
  }

  .img-large {
    max-width: 100%;
  }
  .img-thumbnail {
    height: 80px;
  }
  .product-info button{
   background:  var(--orange-pantone);
   border: none;
   &:hover{
    box-shadow: 5px 5px 5px var(--oxford-blue);
    background: var(--orange-pantone);
   }
  }