
$oxford-blue: #002951ff;

$orange-pantone: #fe5900ff;

.sidebar_wrapper{
    background: $oxford-blue;
    letter-spacing: 1px;
    font-size: 19px;
    height: 100vh;
    .sidebar_header{
        display: flex;
        align-items: baseline;
        position: relative;
        align-items: center;
        width: 12em;
        border: none;
        color: aliceblue;
        font-weight: 500;
    }
    .active a{
        color: $orange-pantone;
        font-size:20px;
        span{
            &::after{
                position: absolute;
                content: '';    
                display: inline-block;                
                right: 0;
                border-top:20px solid rgb(177, 35, 35, 0);
                border-bottom: 20px solid rgba(229, 16, 16, 0);
                border-right: 20px solid rgb(252, 252, 252);          
            }
        }
    }
    
       i{
        font-size: 25px;
       }
    
}

@media screen and (min-width: 768px){
    .sidebar_wrapper{
        display: flex;
        flex-direction: column;
        position:fixed;
        z-index: 1;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: .1em;
        gap: 3em;
        .sidebar_header{
          text-align: center;
          padding: 1em 1em 1em 1.8em;
          border-bottom: 2px solid ;
        }     
        .sidebar_list li{
           margin-bottom: 4em;
        }
            
    }
}

@media screen and (max-width: 325px){
    .sidebar_header{
       visibility: hidden;
      }      
       .sidebar_list{
        left: -100px;
        margin-bottom: 1em;     
     }
}

